In [76]:
import pandas as pd

#csv data file
csv_file_path1 = 'import/2018_Chase_Loans.csv'
csv_file_path2 = 'import/2019_Chase_Loans.csv'
csv_file_path3 = 'import/2020_Chase_Loans.csv'
csv_file_path4 = 'import/2021_Chase_Loans.csv'
csv_file_path5 = 'import/2022_Chase_Loans.csv'

#read into dataframe
df = pd.read_csv(csv_file_path5)

#display
df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\2397237359.py:11: DtypeWarning: Columns (62,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path5)

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,2022,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,415000,6,MI,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
1,2022,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,405000,6,TX,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
2,2022,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,375000,6,NY,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
3,2022,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,235000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
4,2022,7H6GLXDRUGQFU57RNE97,1,1,2,1,3,235000,6,NC,...,3,3,6,NaN,NaN,NaN,NaN,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243076,2022,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,605000,6,CA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
243077,2022,7H6GLXDRUGQFU57RNE97,1,31,2,1,1,355000,6,AZ,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
243078,2022,7H6GLXDRUGQFU57RNE97,1,31,2,1,1,235000,6,WA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
243079,2022,7H6GLXDRUGQFU57RNE97,1,31,2,1,3,395000,6,VA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,1
243080,2022,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,385000,6,CA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2

In [77]:
#drop columns that we do not need/want or contain zero data
#shockingly large amount of the columns were not used or contained the same value regardless of outcome

to_be_dropped = ['lei', 
'preapproval', 'purchaser_type', 'rate_spread', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4',
'total_points_and_fees', 'prepayment_penalty_term', 'debt_to_income_ratio', 'combined_loan_to_value_ratio',
'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'hoepa_status',
'applicant_ethnicity_1','applicant_ethnicity_2','applicant_ethnicity_3','applicant_ethnicity_4','applicant_ethnicity_5',
'co_applicant_ethnicity_1','co_applicant_ethnicity_2','co_applicant_ethnicity_3','co_applicant_ethnicity_4',
'co_applicant_ethnicity_5','applicant_ethnicity_observed','co_applicant_ethnicity_observed','applicant_race_1',
'applicant_race_2','applicant_race_3','applicant_race_4','applicant_race_5','co_applicant_race_1',
'co_applicant_race_2','co_applicant_race_3','co_applicant_race_4','co_applicant_race_5','applicant_race_observed',
'co_applicant_race_observed', 'applicant_sex','co_applicant_sex','applicant_sex_observed','co_applicant_sex_observed',
'applicant_age','applicant_age_above_62','co_applicant_age','co_applicant_age_above_62', 'submission_of_application',
'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features', 'initially_payable_to_institution',
'multifamily_affordable_units', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit',
'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest','census_tract',
'origination_charges', 'discount_points', 'lender_credits','intro_rate_period']

df = df.drop(columns=to_be_dropped)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,1,1,1,1,415000,6,MI,26099.0,119.0,4414.66,5.875,360.0,435000.0,1,2
1,2022,1,1,1,1,405000,6,TX,48113.0,97.0,5230.50,3.500,360.0,425000.0,1,2
2,2022,1,1,1,1,375000,6,NY,36047.0,152.0,7841.13,2.875,360.0,505000.0,1,2
3,2022,1,32,1,1,235000,6,MO,29189.0,61.0,1938.08,3.750,360.0,375000.0,1,2
4,2022,1,1,1,3,235000,6,NC,37183.0,246.0,NaN,4.000,360.0,295000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243076,2022,1,32,1,1,605000,6,CA,6059.0,100.0,7088.30,3.375,360.0,865000.0,1,2
243077,2022,1,31,1,1,355000,6,AZ,4013.0,91.0,6258.24,3.250,360.0,515000.0,1,2
243078,2022,1,31,1,1,235000,6,WA,53033.0,45.0,3060.52,3.625,360.0,805000.0,1,2
243079,2022,1,31,1,3,395000,6,VA,51107.0,104.0,NaN,4.250,360.0,615000.0,1,1
243080,2022,1,32,1,1,385000,6,CA,6079.0,98.0,3703.06,3.750,180.0,1015000.0,1,2

In [78]:
#converts string to numeric
df['income'] = pd.to_numeric(df['income'])

# Multiply the 'income' values by 1000 so its more human readable
df['income'] *= 1000

In [79]:
#only keep rows with loans approved or denied
df = df[df['action_taken'].isin([2,3,5,6,7,8])]

#only keep actual home loans
df = df[df['loan_purpose'].isin([1])]

#fill blanks with zeros
df = df.fillna(0)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,1,1,1,1,415000,6,MI,26099.0,119000.0,4414.66,5.875,360.0,435000.0,1,2
1,2022,1,1,1,1,405000,6,TX,48113.0,97000.0,5230.50,3.500,360.0,425000.0,1,2
2,2022,1,1,1,1,375000,6,NY,36047.0,152000.0,7841.13,2.875,360.0,505000.0,1,2
4,2022,1,1,1,3,235000,6,NC,37183.0,246000.0,0.00,4.000,360.0,295000.0,1,1
5,2022,1,1,1,3,255000,6,NC,37183.0,246000.0,0.00,4.250,360.0,325000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242931,2022,1,1,1,1,205000,6,GA,13121.0,258000.0,8361.45,4.125,360.0,385000.0,1,2
242936,2022,1,1,1,1,545000,6,AZ,4013.0,310000.0,5014.23,3.375,360.0,685000.0,1,2
243005,2022,1,1,1,1,355000,6,CA,6085.0,155000.0,4647.45,4.750,360.0,975000.0,1,2
243015,2022,1,1,1,1,345000,6,OR,41019.0,132000.0,8419.60,3.750,360.0,435000.0,1,2
243044,2022,1,1,1,3,305000,6,NC,37119.0,1160000.0,0.00,4.375,360.0,515000.0,1,1

In [80]:
#maps out our loan_type to match the key values
mapping = {
    1: 'Conventional', 
    2: 'FHA Insured', 
    3: 'VA Guaranteed', 
    4: 'Farm USDA'
}

#replace  map values
df['loan_type'] = df['loan_type'].replace(mapping)

#limits to Conventional loans
df = df[df['loan_type'].isin(['Conventional'])]

In [81]:
#maps out our loan_purpose to the key values
loan_purpose_mapping = {
    1: 'Home Purchase',
    2: 'Home Improvement',
    31: 'Refinancing',
    32: 'Cash-out refinancing',
    4: 'Other Purpose',
    5: 'Not Applicable'
}

#replace  map values
df['loan_purpose'] = df['loan_purpose'].replace(loan_purpose_mapping)

df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\1397660757.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loan_purpose'] = df['loan_purpose'].replace(loan_purpose_mapping)

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,Conventional,Home Purchase,1,1,415000,6,MI,26099.0,119000.0,4414.66,5.875,360.0,435000.0,1,2
1,2022,Conventional,Home Purchase,1,1,405000,6,TX,48113.0,97000.0,5230.50,3.500,360.0,425000.0,1,2
2,2022,Conventional,Home Purchase,1,1,375000,6,NY,36047.0,152000.0,7841.13,2.875,360.0,505000.0,1,2
4,2022,Conventional,Home Purchase,1,3,235000,6,NC,37183.0,246000.0,0.00,4.000,360.0,295000.0,1,1
5,2022,Conventional,Home Purchase,1,3,255000,6,NC,37183.0,246000.0,0.00,4.250,360.0,325000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242931,2022,Conventional,Home Purchase,1,1,205000,6,GA,13121.0,258000.0,8361.45,4.125,360.0,385000.0,1,2
242936,2022,Conventional,Home Purchase,1,1,545000,6,AZ,4013.0,310000.0,5014.23,3.375,360.0,685000.0,1,2
243005,2022,Conventional,Home Purchase,1,1,355000,6,CA,6085.0,155000.0,4647.45,4.750,360.0,975000.0,1,2
243015,2022,Conventional,Home Purchase,1,1,345000,6,OR,41019.0,132000.0,8419.60,3.750,360.0,435000.0,1,2
243044,2022,Conventional,Home Purchase,1,3,305000,6,NC,37119.0,1160000.0,0.00,4.375,360.0,515000.0,1,1

In [82]:
#maps out our construction_method to the key values
mapping = {
    1: 'Site-Built', 
    2: 'Manufactured-Home'
}

#replace  map values
df['construction_method'] = df['construction_method'].replace(mapping)

df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\1992423284.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['construction_method'] = df['construction_method'].replace(mapping)

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,Conventional,Home Purchase,Site-Built,1,415000,6,MI,26099.0,119000.0,4414.66,5.875,360.0,435000.0,1,2
1,2022,Conventional,Home Purchase,Site-Built,1,405000,6,TX,48113.0,97000.0,5230.50,3.500,360.0,425000.0,1,2
2,2022,Conventional,Home Purchase,Site-Built,1,375000,6,NY,36047.0,152000.0,7841.13,2.875,360.0,505000.0,1,2
4,2022,Conventional,Home Purchase,Site-Built,3,235000,6,NC,37183.0,246000.0,0.00,4.000,360.0,295000.0,1,1
5,2022,Conventional,Home Purchase,Site-Built,3,255000,6,NC,37183.0,246000.0,0.00,4.250,360.0,325000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242931,2022,Conventional,Home Purchase,Site-Built,1,205000,6,GA,13121.0,258000.0,8361.45,4.125,360.0,385000.0,1,2
242936,2022,Conventional,Home Purchase,Site-Built,1,545000,6,AZ,4013.0,310000.0,5014.23,3.375,360.0,685000.0,1,2
243005,2022,Conventional,Home Purchase,Site-Built,1,355000,6,CA,6085.0,155000.0,4647.45,4.750,360.0,975000.0,1,2
243015,2022,Conventional,Home Purchase,Site-Built,1,345000,6,OR,41019.0,132000.0,8419.60,3.750,360.0,435000.0,1,2
243044,2022,Conventional,Home Purchase,Site-Built,3,305000,6,NC,37119.0,1160000.0,0.00,4.375,360.0,515000.0,1,1

In [83]:
#maps out our occupancy_type to the key values
mapping = {
    1: 'Principal-residence', 
    2: 'Second-residence', 
    3: 'Investment-property'
}

#replace  map values
df['occupancy_type'] = df['occupancy_type'].replace(mapping)

df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\3992442694.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['occupancy_type'] = df['occupancy_type'].replace(mapping)

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,Conventional,Home Purchase,Site-Built,Principal-residence,415000,6,MI,26099.0,119000.0,4414.66,5.875,360.0,435000.0,1,2
1,2022,Conventional,Home Purchase,Site-Built,Principal-residence,405000,6,TX,48113.0,97000.0,5230.50,3.500,360.0,425000.0,1,2
2,2022,Conventional,Home Purchase,Site-Built,Principal-residence,375000,6,NY,36047.0,152000.0,7841.13,2.875,360.0,505000.0,1,2
4,2022,Conventional,Home Purchase,Site-Built,Investment-property,235000,6,NC,37183.0,246000.0,0.00,4.000,360.0,295000.0,1,1
5,2022,Conventional,Home Purchase,Site-Built,Investment-property,255000,6,NC,37183.0,246000.0,0.00,4.250,360.0,325000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242931,2022,Conventional,Home Purchase,Site-Built,Principal-residence,205000,6,GA,13121.0,258000.0,8361.45,4.125,360.0,385000.0,1,2
242936,2022,Conventional,Home Purchase,Site-Built,Principal-residence,545000,6,AZ,4013.0,310000.0,5014.23,3.375,360.0,685000.0,1,2
243005,2022,Conventional,Home Purchase,Site-Built,Principal-residence,355000,6,CA,6085.0,155000.0,4647.45,4.750,360.0,975000.0,1,2
243015,2022,Conventional,Home Purchase,Site-Built,Principal-residence,345000,6,OR,41019.0,132000.0,8419.60,3.750,360.0,435000.0,1,2
243044,2022,Conventional,Home Purchase,Site-Built,Investment-property,305000,6,NC,37119.0,1160000.0,0.00,4.375,360.0,515000.0,1,1

In [84]:
#maps out our business_or_commercial_purpose to the key values
mapping = {
    1: 'Business', 
    2: 'Residence'
}

#replace  map values
df['business_or_commercial_purpose'] = df['business_or_commercial_purpose'].replace(mapping)

#limits our data to only Residences
df = df[df['business_or_commercial_purpose'].isin(['Residence'])]

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\4017642300.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['business_or_commercial_purpose'] = df['business_or_commercial_purpose'].replace(mapping)

In [85]:
#maps out our action_taken to the key values
mapping = {
    1: 'Denied',  #removed
    2: 'Approved',  #approved
    3: 'Denied',  #denied
    4: 'Denied',  #removed
    5: 'Denied',  #denied
    6: 'Approved',  #approved
    7: 'Denied',  #denied
    8: 'Approved'   #approved
}
#replace  map values
df['action_taken'] = df['action_taken'].replace(mapping)

df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_18620\2393496195.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['action_taken'] = df['action_taken'].replace(mapping)

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose
0,2022,Conventional,Home Purchase,Site-Built,Principal-residence,415000,Approved,MI,26099.0,119000.0,4414.66,5.875,360.0,435000.0,1,Residence
1,2022,Conventional,Home Purchase,Site-Built,Principal-residence,405000,Approved,TX,48113.0,97000.0,5230.50,3.500,360.0,425000.0,1,Residence
2,2022,Conventional,Home Purchase,Site-Built,Principal-residence,375000,Approved,NY,36047.0,152000.0,7841.13,2.875,360.0,505000.0,1,Residence
10,2022,Conventional,Home Purchase,Site-Built,Principal-residence,265000,Approved,TX,48201.0,138000.0,11698.72,3.875,360.0,335000.0,1,Residence
12,2022,Conventional,Home Purchase,Site-Built,Principal-residence,225000,Approved,MO,29183.0,89000.0,3848.86,4.125,360.0,255000.0,1,Residence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242929,2022,Conventional,Home Purchase,Site-Built,Principal-residence,295000,Approved,FL,12057.0,58000.0,8346.79,4.000,360.0,375000.0,1,Residence
242931,2022,Conventional,Home Purchase,Site-Built,Principal-residence,205000,Approved,GA,13121.0,258000.0,8361.45,4.125,360.0,385000.0,1,Residence
242936,2022,Conventional,Home Purchase,Site-Built,Principal-residence,545000,Approved,AZ,4013.0,310000.0,5014.23,3.375,360.0,685000.0,1,Residence
243005,2022,Conventional,Home Purchase,Site-Built,Principal-residence,355000,Approved,CA,6085.0,155000.0,4647.45,4.750,360.0,975000.0,1,Residence
243015,2022,Conventional,Home Purchase,Site-Built,Principal-residence,345000,Approved,OR,41019.0,132000.0,8419.60,3.750,360.0,435000.0,1,Residence

In [86]:
#uses the FCC County Code TXT file to merge the values to the as the county_code as a new column county_name
county_mapping_df = pd.read_csv('county_codes.csv')

df = df.merge(county_mapping_df, on='county_code', how='left')

df = df.rename(columns={'county_name': 'county_name'})

#drops the now useless county_code
county_drop = ['county_code']

df = df.drop(columns=county_drop)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,income,total_loan_costs,interest_rate,loan_term,property_value,total_units,business_or_commercial_purpose,county_name
0,2022,Conventional,Home Purchase,Site-Built,Principal-residence,415000,Approved,MI,119000.0,4414.66,5.875,360.0,435000.0,1,Residence,Macomb County
1,2022,Conventional,Home Purchase,Site-Built,Principal-residence,405000,Approved,TX,97000.0,5230.50,3.500,360.0,425000.0,1,Residence,Dallas County
2,2022,Conventional,Home Purchase,Site-Built,Principal-residence,375000,Approved,NY,152000.0,7841.13,2.875,360.0,505000.0,1,Residence,Kings County
3,2022,Conventional,Home Purchase,Site-Built,Principal-residence,265000,Approved,TX,138000.0,11698.72,3.875,360.0,335000.0,1,Residence,Harris County
4,2022,Conventional,Home Purchase,Site-Built,Principal-residence,225000,Approved,MO,89000.0,3848.86,4.125,360.0,255000.0,1,Residence,St. Charles County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52867,2022,Conventional,Home Purchase,Site-Built,Principal-residence,295000,Approved,FL,58000.0,8346.79,4.000,360.0,375000.0,1,Residence,Hillsborough County
52868,2022,Conventional,Home Purchase,Site-Built,Principal-residence,205000,Approved,GA,258000.0,8361.45,4.125,360.0,385000.0,1,Residence,Fulton County
52869,2022,Conventional,Home Purchase,Site-Built,Principal-residence,545000,Approved,AZ,310000.0,5014.23,3.375,360.0,685000.0,1,Residence,Maricopa County
52870,2022,Conventional,Home Purchase,Site-Built,Principal-residence,355000,Approved,CA,155000.0,4647.45,4.750,360.0,975000.0,1,Residence,Santa Clara County
52871,2022,Conventional,Home Purchase,Site-Built,Principal-residence,345000,Approved,OR,132000.0,8419.60,3.750,360.0,435000.0,1,Residence,Douglas County

In [87]:
#re-orders our data in a human reading friendly order.
data_order = [
    'activity_year',
    'loan_type',
    'action_taken',
    'loan_purpose',
    'business_or_commercial_purpose',
    'construction_method',
    'occupancy_type',
    'state_code',
    'county_name',
    'loan_amount',
    'income',
    'loan_term',
    'property_value',
    'total_units']

df = df[data_order]

df

,activity_year,loan_type,action_taken,loan_purpose,business_or_commercial_purpose,construction_method,occupancy_type,state_code,county_name,loan_amount,income,loan_term,property_value,total_units
0,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,MI,Macomb County,415000,119000.0,360.0,435000.0,1
1,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,TX,Dallas County,405000,97000.0,360.0,425000.0,1
2,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,NY,Kings County,375000,152000.0,360.0,505000.0,1
3,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,TX,Harris County,265000,138000.0,360.0,335000.0,1
4,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,MO,St. Charles County,225000,89000.0,360.0,255000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52867,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,FL,Hillsborough County,295000,58000.0,360.0,375000.0,1
52868,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,GA,Fulton County,205000,258000.0,360.0,385000.0,1
52869,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,AZ,Maricopa County,545000,310000.0,360.0,685000.0,1
52870,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,CA,Santa Clara County,355000,155000.0,360.0,975000.0,1
52871,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,OR,Douglas County,345000,132000.0,360.0,435000.0,1

In [89]:
#Drops data with nothing so its not causing issues with the machine learning steps
df = df.dropna()

df

,activity_year,loan_type,action_taken,loan_purpose,business_or_commercial_purpose,construction_method,occupancy_type,state_code,county_name,loan_amount,income,loan_term,property_value,total_units
0,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,MI,Macomb County,415000,119000.0,360.0,435000.0,1
1,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,TX,Dallas County,405000,97000.0,360.0,425000.0,1
2,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,NY,Kings County,375000,152000.0,360.0,505000.0,1
3,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,TX,Harris County,265000,138000.0,360.0,335000.0,1
4,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,MO,St. Charles County,225000,89000.0,360.0,255000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52867,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,FL,Hillsborough County,295000,58000.0,360.0,375000.0,1
52868,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,GA,Fulton County,205000,258000.0,360.0,385000.0,1
52869,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,AZ,Maricopa County,545000,310000.0,360.0,685000.0,1
52870,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,CA,Santa Clara County,355000,155000.0,360.0,975000.0,1
52871,2022,Conventional,Approved,Home Purchase,Residence,Site-Built,Principal-residence,OR,Douglas County,345000,132000.0,360.0,435000.0,1

In [90]:
#export to CSV

df.to_csv('export/2018_Chase_Loan_Tableau.csv', index=False)
#df.to_csv('export/2019_Chase_Loan_Tableau.csv', index=False)
#df.to_csv('export/2020_Chase_Loan_Tableau.csv', index=False)
#df.to_csv('export/2021_Chase_Loan_Tableau.csv', index=False)
#df.to_csv('export/2022_Chase_Loan_Tableau.csv', index=False)