In [93]:
import pandas as pd

#csv data file
csv_file_path = 'import/2018_Chase_Loans.csv'

#read into dataframe
df = pd.read_csv(csv_file_path)

#display
df

C:\Users\sbenn\AppData\Local\Temp\ipykernel_1204\2752400507.py:7: DtypeWarning: Columns (62,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,2018,7H6GLXDRUGQFU57RNE97,1,31,2,1,3,165000,6,TX,...,3,3,6,NaN,NaN,NaN,NaN,2,2,1
1,2018,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,405000,6,CA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
2,2018,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,215000,6,VA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
3,2018,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,285000,6,MA,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
4,2018,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,345000,6,AZ,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,105000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
505700,2018,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,505000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
505701,2018,7H6GLXDRUGQFU57RNE97,1,1,2,1,3,75000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,1
505702,2018,7H6GLXDRUGQFU57RNE97,1,1,2,1,1,135000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2
505703,2018,7H6GLXDRUGQFU57RNE97,1,32,2,1,1,125000,6,MO,...,3,3,6,NaN,NaN,NaN,NaN,2,2,2

In [94]:
#drop columns that we do not need/want or contain zero data
#shockingly large amount of the columns were not used or contained the same value regardless of outcome

to_be_dropped = ['lei', 
'preapproval', 'purchaser_type', 'rate_spread', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4',
'total_points_and_fees', 'prepayment_penalty_term', 'debt_to_income_ratio', 'combined_loan_to_value_ratio',
'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'hoepa_status',
'applicant_ethnicity_1','applicant_ethnicity_2','applicant_ethnicity_3','applicant_ethnicity_4','applicant_ethnicity_5',
'co_applicant_ethnicity_1','co_applicant_ethnicity_2','co_applicant_ethnicity_3','co_applicant_ethnicity_4',
'co_applicant_ethnicity_5','applicant_ethnicity_observed','co_applicant_ethnicity_observed','applicant_race_1',
'applicant_race_2','applicant_race_3','applicant_race_4','applicant_race_5','co_applicant_race_1',
'co_applicant_race_2','co_applicant_race_3','co_applicant_race_4','co_applicant_race_5','applicant_race_observed',
'co_applicant_race_observed', 'applicant_sex','co_applicant_sex','applicant_sex_observed','co_applicant_sex_observed',
'applicant_age','applicant_age_above_62','co_applicant_age','co_applicant_age_above_62', 'submission_of_application',
'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features', 'initially_payable_to_institution',
'multifamily_affordable_units', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit',
'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest']

df = df.drop(columns=to_be_dropped)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,1,31,1,3,165000,6,TX,48121,48121020103,...,NaN,NaN,NaN,NaN,5.125,240.0,NaN,205000.0,1,1
1,2018,1,32,1,1,405000,6,CA,6037,6037111400,...,3053.00,1595.00,NaN,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,1,32,1,1,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,1,32,1,1,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,1,32,1,1,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,NaN,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,1,1,1,1,105000,6,MO,29113,29113810303,...,3738.80,1956.00,NaN,NaN,4.625,120.0,NaN,215000.0,1,2
505700,2018,1,1,1,1,505000,6,MO,29189,29189217842,...,4838.00,2302.36,NaN,NaN,4.625,360.0,NaN,635000.0,1,2
505701,2018,1,1,1,3,75000,6,MO,29510,29510104500,...,NaN,NaN,NaN,NaN,5.125,180.0,NaN,95000.0,1,1
505702,2018,1,1,1,1,135000,6,MO,29189,29189219800,...,2810.97,1200.00,NaN,NaN,4.875,360.0,NaN,135000.0,1,2
505703,2018,1,32,1,1,125000,6,MO,29189,29189220502,...,3813.75,2731.25,NaN,NaN,5.500,240.0,NaN,165000.0,1,2

In [95]:
df['income'] = pd.to_numeric(df['income'])

# Multiply the 'income' values by 1000
df['income'] *= 1000

In [96]:
#drop rows that do not have debt ot income ratio 
#df = df.dropna(subset=['debt_to_income_ratio'], how='any')

#only keep rows with loans approved or denied
#df = df[df['action_taken'].isin([3, 6])]

#only keep rows with loans approved
#df = df[df['action_taken'].isin([6])]

#only keep actual home loans
df = df[df['loan_purpose'].isin([1])]

#fill blanks with zeros
df = df.fillna(0)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,1,31,1,3,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,1
1,2018,1,32,1,1,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,1,32,1,1,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,1,32,1,1,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,1,32,1,1,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,1,1,1,1,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,2
505700,2018,1,1,1,1,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,2
505701,2018,1,1,1,3,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,1
505702,2018,1,1,1,1,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,2
505703,2018,1,32,1,1,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,2

In [97]:
mapping = {1: 'Conventional', 2: 'FHA Insured', 3: 'VA Guaranteed', 4: 'Farm USDA'}

df['loan_type'] = df['loan_type'].replace(mapping)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,31,1,3,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,1
1,2018,Conventional,32,1,1,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,Conventional,32,1,1,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,Conventional,32,1,1,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,Conventional,32,1,1,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,1,1,1,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,2
505700,2018,Conventional,1,1,1,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,2
505701,2018,Conventional,1,1,3,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,1
505702,2018,Conventional,1,1,1,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,2
505703,2018,Conventional,32,1,1,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,2

In [98]:
# Define a dictionary to map loan purposes
loan_purpose_mapping = {
    1: 'Home Purchase',
    2: 'Home Improvement',
    31: 'Refinancing',
    32: 'Cash-out refinancing',
    4: 'Other Purpose',
    5: 'Not Applicable'
}

# Use the replace method to map values
df['loan_purpose'] = df['loan_purpose'].replace(loan_purpose_mapping)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,Refinancing,1,3,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,1
1,2018,Conventional,Cash-out refinancing,1,1,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,Conventional,Cash-out refinancing,1,1,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,Conventional,Cash-out refinancing,1,1,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,Conventional,Cash-out refinancing,1,1,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,1,1,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,2
505700,2018,Conventional,Home Purchase,1,1,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,2
505701,2018,Conventional,Home Purchase,1,3,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,1
505702,2018,Conventional,Home Purchase,1,1,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,2
505703,2018,Conventional,Cash-out refinancing,1,1,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,2

In [99]:
mapping = {1: 'Site-Built', 2: 'Manufactured-Home'}

df['construction_method'] = df['construction_method'].replace(mapping)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,Refinancing,Site-Built,3,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,1
1,2018,Conventional,Cash-out refinancing,Site-Built,1,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,Conventional,Cash-out refinancing,Site-Built,1,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,Conventional,Cash-out refinancing,Site-Built,1,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,Conventional,Cash-out refinancing,Site-Built,1,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,Site-Built,1,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,2
505700,2018,Conventional,Home Purchase,Site-Built,1,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,2
505701,2018,Conventional,Home Purchase,Site-Built,3,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,1
505702,2018,Conventional,Home Purchase,Site-Built,1,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,2
505703,2018,Conventional,Cash-out refinancing,Site-Built,1,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,2

In [100]:
mapping = {1: 'Principal-residence', 2: 'Second-residence', 3: 'Investment-property'}
df['occupancy_type'] = df['occupancy_type'].replace(mapping)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,Refinancing,Site-Built,Investment-property,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,1
1,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,2
2,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,2
3,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,2
4,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,Site-Built,Principal-residence,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,2
505700,2018,Conventional,Home Purchase,Site-Built,Principal-residence,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,2
505701,2018,Conventional,Home Purchase,Site-Built,Investment-property,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,1
505702,2018,Conventional,Home Purchase,Site-Built,Principal-residence,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,2
505703,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,2

In [101]:
mapping = {1: 'Business', 2: 'Residence'}
df['business_or_commercial_purpose'] = df['business_or_commercial_purpose'].replace(mapping)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,Refinancing,Site-Built,Investment-property,165000,6,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,Business
1,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,405000,6,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,Residence
2,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,215000,6,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,Residence
3,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,285000,6,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,Residence
4,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,345000,6,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,Residence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,Site-Built,Principal-residence,105000,6,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,Residence
505700,2018,Conventional,Home Purchase,Site-Built,Principal-residence,505000,6,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,Residence
505701,2018,Conventional,Home Purchase,Site-Built,Investment-property,75000,6,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,Business
505702,2018,Conventional,Home Purchase,Site-Built,Principal-residence,135000,6,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,Residence
505703,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,125000,6,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,Residence

In [102]:
mapping = {
    1: 'No Purchase',
    2: 'No Purchase',
    3: 'No Purchase',
    4: 'No Purchase',
    5: 'No Purchase',
    6: 'Purchased loan',
    7: 'No Purchase',
    8: 'No Purchase'
}

df['action_taken'] = df['action_taken'].replace(mapping)
df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,county_code,census_tract,...,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose
0,2018,Conventional,Refinancing,Site-Built,Investment-property,165000,Purchased loan,TX,48121,48121020103,...,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,Business
1,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,405000,Purchased loan,CA,6037,6037111400,...,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,Residence
2,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,215000,Purchased loan,VA,51153,51153901211,...,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,Residence
3,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,285000,Purchased loan,MA,25017,25017316300,...,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,Residence
4,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,345000,Purchased loan,AZ,4015,4015954800,...,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,Residence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,Site-Built,Principal-residence,105000,Purchased loan,MO,29113,29113810303,...,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,Residence
505700,2018,Conventional,Home Purchase,Site-Built,Principal-residence,505000,Purchased loan,MO,29189,29189217842,...,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,Residence
505701,2018,Conventional,Home Purchase,Site-Built,Investment-property,75000,Purchased loan,MO,29510,29510104500,...,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,Business
505702,2018,Conventional,Home Purchase,Site-Built,Principal-residence,135000,Purchased loan,MO,29189,29189219800,...,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,Residence
505703,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,125000,Purchased loan,MO,29189,29189220502,...,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,Residence

In [103]:
county_mapping_df = pd.read_csv('county_codes.csv')

df = df.merge(county_mapping_df, on='county_code', how='left')

df = df.rename(columns={'county_name': 'county_name'})

county_drop = ['county_code']
df = df.drop(columns=county_drop)

df

,activity_year,loan_type,loan_purpose,construction_method,occupancy_type,loan_amount,action_taken,state_code,census_tract,income,...,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units,business_or_commercial_purpose,county_name
0,2018,Conventional,Refinancing,Site-Built,Investment-property,165000,Purchased loan,TX,48121020103,178000.0,...,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1,Business,Denton County
1,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,405000,Purchased loan,CA,6037111400,80000.0,...,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1,Residence,Los Angeles County
2,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,215000,Purchased loan,VA,51153901211,53000.0,...,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1,Residence,Prince William County
3,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,285000,Purchased loan,MA,25017316300,61000.0,...,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1,Residence,Middlesex County
4,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,345000,Purchased loan,AZ,4015954800,138000.0,...,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1,Residence,Mohave County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Home Purchase,Site-Built,Principal-residence,105000,Purchased loan,MO,29113810303,49000.0,...,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1,Residence,Lincoln County
505700,2018,Conventional,Home Purchase,Site-Built,Principal-residence,505000,Purchased loan,MO,29189217842,282000.0,...,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1,Residence,St. Louis County
505701,2018,Conventional,Home Purchase,Site-Built,Investment-property,75000,Purchased loan,MO,29510104500,175000.0,...,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1,Business,St. Louis city
505702,2018,Conventional,Home Purchase,Site-Built,Principal-residence,135000,Purchased loan,MO,29189219800,41000.0,...,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1,Residence,St. Louis County
505703,2018,Conventional,Cash-out refinancing,Site-Built,Principal-residence,125000,Purchased loan,MO,29189220502,42000.0,...,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1,Residence,St. Louis County

In [104]:
data_order = [
    'activity_year',
    'loan_type',
    'action_taken',
    'loan_purpose',
    'business_or_commercial_purpose',
    'construction_method',
    'occupancy_type',
    'state_code',
    'county_name',
    'census_tract',
    'loan_amount',
    'income',
    'total_loan_costs',
    'origination_charges',
    'discount_points',
    'lender_credits',
    'interest_rate',
    'loan_term',
    'intro_rate_period',
    'property_value',
    'total_units']

df = df[data_order]

df

,activity_year,loan_type,action_taken,loan_purpose,business_or_commercial_purpose,construction_method,occupancy_type,state_code,county_name,census_tract,...,income,total_loan_costs,origination_charges,discount_points,lender_credits,interest_rate,loan_term,intro_rate_period,property_value,total_units
0,2018,Conventional,Purchased loan,Refinancing,Business,Site-Built,Investment-property,TX,Denton County,48121020103,...,178000.0,0.00,0.00,0.00,0.0,5.125,240.0,0.0,205000.0,1
1,2018,Conventional,Purchased loan,Cash-out refinancing,Residence,Site-Built,Principal-residence,CA,Los Angeles County,6037111400,...,80000.0,3053.00,1595.00,0.00,28.0,4.500,360.0,120.0,625000.0,1
2,2018,Conventional,Purchased loan,Cash-out refinancing,Residence,Site-Built,Principal-residence,VA,Prince William County,51153901211,...,53000.0,4298.00,2940.00,1345.00,36.0,4.875,360.0,120.0,265000.0,1
3,2018,Conventional,Purchased loan,Cash-out refinancing,Residence,Site-Built,Principal-residence,MA,Middlesex County,25017316300,...,61000.0,7319.25,6166.75,6166.75,425.0,4.500,360.0,120.0,385000.0,1
4,2018,Conventional,Purchased loan,Cash-out refinancing,Residence,Site-Built,Principal-residence,AZ,Mohave County,4015954800,...,138000.0,6673.08,4622.58,3027.58,0.0,4.875,360.0,120.0,435000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,2018,Conventional,Purchased loan,Home Purchase,Residence,Site-Built,Principal-residence,MO,Lincoln County,29113810303,...,49000.0,3738.80,1956.00,0.00,0.0,4.625,120.0,0.0,215000.0,1
505700,2018,Conventional,Purchased loan,Home Purchase,Residence,Site-Built,Principal-residence,MO,St. Louis County,29189217842,...,282000.0,4838.00,2302.36,0.00,0.0,4.625,360.0,0.0,635000.0,1
505701,2018,Conventional,Purchased loan,Home Purchase,Business,Site-Built,Investment-property,MO,St. Louis city,29510104500,...,175000.0,0.00,0.00,0.00,0.0,5.125,180.0,0.0,95000.0,1
505702,2018,Conventional,Purchased loan,Home Purchase,Residence,Site-Built,Principal-residence,MO,St. Louis County,29189219800,...,41000.0,2810.97,1200.00,0.00,0.0,4.875,360.0,0.0,135000.0,1
505703,2018,Conventional,Purchased loan,Cash-out refinancing,Residence,Site-Built,Principal-residence,MO,St. Louis County,29189220502,...,42000.0,3813.75,2731.25,0.00,0.0,5.500,240.0,0.0,165000.0,1

In [105]:
#next we need to make the debt_to_income column make sense to an AI system 
#convert the mix of digits and text values into a digit value then assign it a score based on 1 to 6.
#6 being the highest score for having the lowest debt to income values (this is best)
#1 being the loweost score for high debt to income (this is bad)


#Turns out on loans that are completed they do not track this.  
#This is only tracked on failed loans for some reason.
""" 
replacement_dict = {
    '<20%': '15',
    '20%-<30%': '25',
    '30%-<36%': '33',
    '50%-60%': '55',
    '>60%': '65'
}

df['debt_to_income_ratio'] = df['debt_to_income_ratio'].replace(replacement_dict)

#convert 'debt_to_income_ratio' to integer
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].astype(int)

#apply the mapping
def map_debt_to_numeric(value):
    if value < 20:
        return 6
    elif 20 <= value < 30:
        return 5
    elif 30 <= value < 36:
        return 4
    elif 36 <= value < 50:
        return 3
    elif 50 <= value < 60:
        return 2
    else:
        return 1

#apply the values to our new column
df['dti_score'] = df['debt_to_income_ratio'].apply(map_debt_to_numeric)

#drop the old column
df = df.drop(columns=['debt_to_income_ratio'])
 """

" \nreplacement_dict = {\n    '<20%': '15',\n    '20%-<30%': '25',\n    '30%-<36%': '33',\n    '50%-60%': '55',\n    '>60%': '65'\n}\n\ndf['debt_to_income_ratio'] = df['debt_to_income_ratio'].replace(replacement_dict)\n\n#convert 'debt_to_income_ratio' to integer\ndf['debt_to_income_ratio'] = df['debt_to_income_ratio'].astype(int)\n\n#apply the mapping\ndef map_debt_to_numeric(value):\n    if value < 20:\n        return 6\n    elif 20 <= value < 30:\n        return 5\n    elif 30 <= value < 36:\n        return 4\n    elif 36 <= value < 50:\n        return 3\n    elif 50 <= value < 60:\n        return 2\n    else:\n        return 1\n\n#apply the values to our new column\ndf['dti_score'] = df['debt_to_income_ratio'].apply(map_debt_to_numeric)\n\n#drop the old column\ndf = df.drop(columns=['debt_to_income_ratio'])\n "

In [106]:
df.to_csv('export/2018_Chase_Loan_Cleaned.csv', index=False)