In [205]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

## Read the 2018_Chase_Loan_Cleaned.csv data from the export folder into a Pandas DataFrame.

In [206]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
#data = Path('export/2018_Chase_Loan_Cleaned.csv')
data = Path('import/2018_Chase_Loans.csv')
df = pd.read_csv(data)

#68% / 68% accuracy predicitons
#additional_drops_for_ML = ['activity_year','loan_type','loan_purpose', 'business_or_commercial_purpose', 'state_code']

#67% / 68% 
#additional_drops_for_ML = ['activity_year','loan_type','loan_purpose', 'business_or_commercial_purpose', 'state_code', 'construction_method', 'occupancy_type', 'total_units']

#66% / 67%
#additional_drops_for_ML = ['activity_year','loan_type','loan_purpose', 'business_or_commercial_purpose', 'state_code', 'construction_method', 'occupancy_type', 'total_units', 'county_code', 'property_value']

#using original data source
#
additional_drops_for_ML = ['intro_rate_period', 'multifamily_affordable_units', 'prepayment_penalty_term','combined_loan_to_value_ratio','rate_spread', 'total_points_and_fees','co_applicant_race_2','co_applicant_race_3','co_applicant_race_4','co_applicant_race_5','applicant_race_2','applicant_race_3','applicant_race_4','applicant_race_5','co_applicant_ethnicity_2','co_applicant_ethnicity_3','co_applicant_ethnicity_4',
'co_applicant_ethnicity_5','applicant_ethnicity_2','applicant_ethnicity_3','applicant_ethnicity_4','applicant_ethnicity_5','denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'lei', 'activity_year', 'state_code', 'debt_to_income_ratio', 'applicant_age', 'co_applicant_age', 'total_units', 'applicant_age_above_62', 'co_applicant_age_above_62']


df = df.drop(columns=additional_drops_for_ML)

# Review the DataFrame
df.head()

C:\Users\sbenn\AppData\Local\Temp\ipykernel_19192\4017695034.py:4: DtypeWarning: Columns (62,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data)

,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,county_code,census_tract,applicant_ethnicity_1,...,negative_amortization,other_non_amortizing_features,property_value,manufactured_home_secured_property_type,manufactured_home_land_property_interest,submission_of_application,initially_payable_to_institution,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,1,31,2,1,3,165000,6,48121,48121020103,2,...,2,2,205000.0,3,5,3,3,2,2,1
1,1,32,2,1,1,405000,6,6037,6037111400,2,...,2,2,625000.0,3,5,3,3,2,2,2
2,1,32,2,1,1,215000,6,51153,51153901211,3,...,2,2,265000.0,3,5,3,3,2,2,2
3,1,32,2,1,1,285000,6,25017,25017316300,2,...,2,2,385000.0,3,5,3,3,2,2,2
4,1,32,2,1,1,345000,6,4015,4015954800,2,...,2,2,435000.0,3,5,3,3,2,2,2

In [207]:
mapping = {
    1: 0,
    2: 0,
    3: 0,
    4: 0,
    5: 0,
    6: 1,
    7: 0,
    8: 0
}

df['action_taken'] = df['action_taken'].replace(mapping)
df

,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,county_code,census_tract,applicant_ethnicity_1,...,negative_amortization,other_non_amortizing_features,property_value,manufactured_home_secured_property_type,manufactured_home_land_property_interest,submission_of_application,initially_payable_to_institution,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,1,31,2,1,3,165000,1,48121,48121020103,2,...,2,2,205000.0,3,5,3,3,2,2,1
1,1,32,2,1,1,405000,1,6037,6037111400,2,...,2,2,625000.0,3,5,3,3,2,2,2
2,1,32,2,1,1,215000,1,51153,51153901211,3,...,2,2,265000.0,3,5,3,3,2,2,2
3,1,32,2,1,1,285000,1,25017,25017316300,2,...,2,2,385000.0,3,5,3,3,2,2,2
4,1,32,2,1,1,345000,1,4015,4015954800,2,...,2,2,435000.0,3,5,3,3,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,1,1,2,1,1,105000,1,29113,29113810303,2,...,2,2,215000.0,3,5,3,3,2,2,2
505700,1,1,2,1,1,505000,1,29189,29189217842,2,...,2,2,635000.0,3,5,3,3,2,2,2
505701,1,1,2,1,3,75000,1,29510,29510104500,2,...,2,2,95000.0,3,5,3,3,2,2,1
505702,1,1,2,1,1,135000,1,29189,29189219800,2,...,2,2,135000.0,3,5,3,3,2,2,2
505703,1,32,2,1,1,125000,1,29189,29189220502,2,...,2,2,165000.0,3,5,3,3,2,2,2

## Create the labels set (y) from the "action_taken" column, and then create the features (X) DataFrame from the remaining columns.

In [208]:
# Separate the y variable, the labels
y = df['action_taken']


# Separate the X variable, the features
X = df.drop(columns='action_taken')

In [209]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: action_taken, dtype: int64

In [210]:
X.head()

,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,county_code,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,...,negative_amortization,other_non_amortizing_features,property_value,manufactured_home_secured_property_type,manufactured_home_land_property_interest,submission_of_application,initially_payable_to_institution,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,1,31,2,1,3,165000,48121,48121020103,2,5,...,2,2,205000.0,3,5,3,3,2,2,1
1,1,32,2,1,1,405000,6037,6037111400,2,5,...,2,2,625000.0,3,5,3,3,2,2,2
2,1,32,2,1,1,215000,51153,51153901211,3,5,...,2,2,265000.0,3,5,3,3,2,2,2
3,1,32,2,1,1,285000,25017,25017316300,2,5,...,2,2,385000.0,3,5,3,3,2,2,2
4,1,32,2,1,1,345000,4015,4015954800,2,2,...,2,2,435000.0,3,5,3,3,2,2,2

## Check the balance of the labels variable (y).

In [211]:
y.value_counts()

0    363991
1    141713
Name: action_taken, dtype: int64

## Split the data into training and testing datasets by using train_test_split.

In [212]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(379278, 45)

## Create a Logistic Regression Model with the Original Data
* Fit a logistic regression model by using the training data (X_train and y_train).

In [213]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [214]:
df

,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,county_code,census_tract,applicant_ethnicity_1,...,negative_amortization,other_non_amortizing_features,property_value,manufactured_home_secured_property_type,manufactured_home_land_property_interest,submission_of_application,initially_payable_to_institution,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,1,31,2,1,3,165000,1,48121,48121020103,2,...,2,2,205000.0,3,5,3,3,2,2,1
1,1,32,2,1,1,405000,1,6037,6037111400,2,...,2,2,625000.0,3,5,3,3,2,2,2
2,1,32,2,1,1,215000,1,51153,51153901211,3,...,2,2,265000.0,3,5,3,3,2,2,2
3,1,32,2,1,1,285000,1,25017,25017316300,2,...,2,2,385000.0,3,5,3,3,2,2,2
4,1,32,2,1,1,345000,1,4015,4015954800,2,...,2,2,435000.0,3,5,3,3,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505699,1,1,2,1,1,105000,1,29113,29113810303,2,...,2,2,215000.0,3,5,3,3,2,2,2
505700,1,1,2,1,1,505000,1,29189,29189217842,2,...,2,2,635000.0,3,5,3,3,2,2,2
505701,1,1,2,1,3,75000,1,29510,29510104500,2,...,2,2,95000.0,3,5,3,3,2,2,1
505702,1,1,2,1,1,135000,1,29189,29189219800,2,...,2,2,135000.0,3,5,3,3,2,2,2
505703,1,32,2,1,1,125000,1,29189,29189220502,2,...,2,2,165000.0,3,5,3,3,2,2,2

In [215]:

#export to CSV
df.to_csv('export/where_is_bad_data.csv', index=False)

In [216]:
df = df.dropna()
df

,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,county_code,census_tract,applicant_ethnicity_1,...,negative_amortization,other_non_amortizing_features,property_value,manufactured_home_secured_property_type,manufactured_home_land_property_interest,submission_of_application,initially_payable_to_institution,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
2,1,32,2,1,1,215000,1,51153,51153901211,3,...,2,2,265000.0,3,5,3,3,2,2,2
3,1,32,2,1,1,285000,1,25017,25017316300,2,...,2,2,385000.0,3,5,3,3,2,2,2
7,1,32,2,1,1,205000,1,48039,48039663400,2,...,2,2,255000.0,3,5,3,3,2,2,2
14,1,32,2,1,1,235000,1,47157,47157001600,2,...,2,2,315000.0,3,5,3,3,2,2,2
15,1,4,2,1,1,215000,1,48185,48185180101,2,...,2,2,275000.0,3,5,3,3,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505558,1,1,2,1,1,105000,1,39049,39049004610,2,...,2,2,175000.0,3,5,3,3,2,2,2
505642,1,1,2,1,1,335000,1,42095,42095017401,2,...,2,2,355000.0,3,5,3,3,2,2,2
505654,1,1,2,1,1,175000,1,42011,42011013000,2,...,2,2,185000.0,3,5,3,3,2,2,2
505667,1,1,2,1,1,955000,1,6053,6053012800,2,...,2,2,1205000.0,3,5,3,3,2,2,2
505687,2,1,2,1,1,275000,1,29099,29099700603,2,...,2,2,285000.0,3,5,3,3,2,2,2

In [217]:
# Fit the model using training data
classifier.fit(X_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

## Save the predictions on the testing data labels by using the testing feature data (X_test) and the fitted model.

In [ ]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           1       1
1           0       1
2           1       1
3           1       0
4           1       1
5           1       1
6           1       1
7           0       0
8           0       1
9           1       1

## Evaluate the model’s performance

In [ ]:
# Print the balanced_accuracy score of the model
from sklearn.metrics import accuracy_score
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.6642002475587953

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6629410254529451
Testing Data Score: 0.6642002475587953

In [ ]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 9410,  8164],
       [ 4044, 14737]], dtype=int64)

In [ ]:
# Print the classification report for the model
from sklearn.metrics import classification_report
target_names = ["Purchased Loan", "Denied/Failed Loan"]
print(classification_report(y_test, predictions, target_names=target_names))

                    precision    recall  f1-score   support

    Purchased Loan       0.70      0.54      0.61     17574
Denied/Failed Loan       0.64      0.78      0.71     18781

          accuracy                           0.66     36355
         macro avg       0.67      0.66      0.66     36355
      weighted avg       0.67      0.66      0.66     36355

## Predict a Logistic Regression Model with Resampled Training Data

In [ ]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random_sampler = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_ran, y_ran = random_sampler.fit_resample(X_train, y_train)

In [ ]:
# Count the distinct values of the resampled labels data
y_ran.value_counts()

0    56343
1    56343
Name: action_taken, dtype: int64

## Use the LogisticRegression classifier and the resampled data to fit the model and make predictions.

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
re_classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)


# Fit the model using the resampled training data
re_classifier.fit(X_ran, y_ran)

# Make a prediction using the testing data
re_predictions = re_classifier.predict(X_test)

results = pd.DataFrame({"Prediction": re_predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           1       1
1           0       1
2           1       1
3           1       0
4           1       1
5           0       1
6           1       1
7           0       0
8           0       1
9           1       1

## Evaluate the resampled data

In [ ]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, re_predictions)

0.6657596286904055

In [ ]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, re_predictions)

array([[10589,  6985],
       [ 5090, 13691]], dtype=int64)

In [ ]:
# Print the classification report for the model
target_names = ["Purchased Loan", "Denied/Failed Loan"]
print(classification_report(y_test, re_predictions, target_names=target_names))

                    precision    recall  f1-score   support

    Purchased Loan       0.68      0.60      0.64     17574
Denied/Failed Loan       0.66      0.73      0.69     18781

          accuracy                           0.67     36355
         macro avg       0.67      0.67      0.67     36355
      weighted avg       0.67      0.67      0.67     36355